*{

}
.container{
    display:flex;
    flex-direction:column;
    width:50vw;

}
.body{
    display:center;
    background-color:aquamarine;
}
.no-of-notes{
    display: solid;
    background-color:  antiquewhite ;
    padding: 1rem;
}
.no-notes{

    background-color:  antiquewhite ;
    padding: 1rem;
}
.billamount{
    background-color:rgb(193, 243, 193);
    height:  2vw;
    color: rgb(18, 12, 55);
    font-size:larger;
    text-decoration: bold;
}
.cashgiven{
    background-color:rgb(193, 243, 193);
    height:  2vw;
    color: rgb(18, 12, 55);
    font-size:larger;
    text-decoration: bold;
}
.heading{
    text-align: center;
    color:rgb(30, 175, 233);

}
.btn{
    height:  2vw;
    color: rgb(18, 12, 55);
    font-size:larger;
    text-decoration: bold;
}