*{

}
.container{
    display:flex;
    flex-direction:column;
    width:50vw;

}
.body{
    display:center;
    background-color:aquamarine;
}
.no-of-notes{
    display: solid;
    background-color:  antiquewhite ;
    padding: 1rem;
}
.no-notes{
    display: solid;
    background-color:  antiquewhite ;
    padding: 1rem;
}
.billamount{
    background-color:rgb(193, 243, 193);
    height:  20%;
}